In [1]:
#Q1: Divisibility Filter

def div_fil():
    list1=[]
    for i in range(2000,3201):
        if i%7==0 and i%5!=0:
            list1.append(i)
    print(list1)

div_fil()

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [5]:
#Q2: Factorial Calculation

def fact(n):
    prod=1
    for i in range(1,n+1):
        prod=prod*i
    print(prod)

fact(8)

40320

In [6]:
#Q3: Dictionary of Squares

def sqr_dict(n):
    dict1={}
    for i in range(1,n+1):
        dict1[i]=i**2
    print(dict1)

sqr_dict(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [15]:
#Q4: List and Tuple Generator

def lst_tpl_gen(n):
    lst1=[]
    for i in n.split(','):
        lst1.append(int(i))
    tpl1=tuple(lst1)
    print(lst1,'\n',tpl1)

lst_tpl_gen(n=input('enter your comma sep. values..'))

enter your comma sep. values.. 10,5,6,9,3

[10, 5, 6, 9, 3]
 (10, 5, 6, 9, 3)

In [20]:
#Q5: Simple Class Definition

class simple:
    def get_str(self,n):
        self.n=n
    
    def print_str(self):
        return self.n.upper()

s = simple()
s.get_str("This is my string")
s.print_str()

'THIS IS MY STRING'

In [24]:
#Q6: Method to Calculate Square
class sqr:
    def square(self,n):
        return n**2

s=sqr()
print(s.square(5))
s.square(2)

25

4

In [42]:
#Q7: Documenting Functions

def doc_str():
    int_str=''
    abs_str=''
    int_str+=int.__doc__
    abs_str+=abs.__doc__
    print(abs_str,'\n----------------------------\n',int_str)
    #print(int_str)
    

doc_str()

Return the absolute value of the argument.
----------------------------
 int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [47]:
#Q8: Class and Instance Parameters

class one:
    fname = "Jack"
    def __init__(self,name):
        self.name=name

    def prints(self):
        print(f"the name is of class variable: {one.fname}")
        print(f"the name is of instance variable: {self.name}")

c = one('Oggy')
c.prints()

the name is of class variable: Jack
the name is of instance variable: Oggy

In [48]:
#Q56: Basic Function Sum

def basic_sum(num1,num2):
    result=num1+num2
    return result

basic_sum(10,5)

15

In [59]:
#Q57: Integer to String Conversion

def int_to_str(n):
    return str(n)

int_to_str(50)

'50'

In [61]:
#Q58: String Concatenation

def str_concat(str1,str2):
    result = str1+str2
    return result

s1=input('enter your first string')
s2=input('enter your second string')
str_concat(s1,s2)

enter your first string gian
enter your second string 43

'gian43'

In [67]:
#Q59: Length Comparison and Printing

def len_compare(str1,str2):
    if len(str1)>len(str2):
        print(str1)
    elif len(str1)==len(str2):
        print(str1,'\n',str2)
    else:
        print(str2)
s1=input('enter your first string:')
s2=input('enter your second string:')
len_compare(s1,s2)

enter your first string: hello
enter your second string: tim

hello

In [78]:
#Q60: Even or Odd Checker

def checkValue(n):
    if n==0:
        print('ZERO')
    elif n%2==0:
        print('the number is even')
    else:
        print('the number is odd')

checkValue(int(input('enter your value')))

enter your value 1

the number is odd

In [79]:
#Q61: Dictionary of Squares (1 to 3)

def dict_of_srqs():
    dict1={}
    for i in range(1,4):
        dict1[i]=i**2
    print(dict1)

dict_of_srqs()

{1: 1, 2: 4, 3: 9}

In [6]:
#Q62: Print List (1 to 20, Squares)

def tpl_sqr():
    tpl=tuple()
    for i in range(0,21):
        tpl = tpl+(i**2,)
    print(tpl)

tpl_sqr()

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [43]:
#Q67: Tuple Halves

tpl=(1,2,3,4,5,6,7,8,9,10)
def half_tpl(tpl):
    first=tuple()
    second=tuple()
    mid=len(tpl)//2
    for i in tpl:
        if i>mid:
            second = second+(i,)
         
        else:
            first = first+(i,)
    #print(mid)
    print(first,'\n',second)
half_tpl(tpl)

(1, 2, 3, 4, 5)
 (6, 7, 8, 9, 10)

In [45]:
#Q68: Even Numbers in a Tuple

tpl=(1,2,3,4,5,6,7,8,9,10)
def even_tpl(tp):
    even_tpls=tuple()
    for i in tp:
        if i%2==0:
            even_tpls += (i,)
    print(even_tpls)
even_tpl(tpl)

(2, 4, 6, 8, 10)

In [51]:
#Q69: Case-Insensitive Yes/No Check

def yes_types(str1):
    list1=['Yes','YES','yes']
    if str1 in list1:
        print(str1.title())
    else:
        print('No')

yes_types('no')

No

In [52]:
#Q70: Sum of String Integers

def sum_str(str1,str2):
    int1,int2=int(str1),int(str2)
    return str(int1+int2)

sum