In [8]:
#Q9: Formula Calculation and Rounding
import math as m
def form_cal(d):
    c=50
    h=30
    return round(m.sqrt((2 * c * d)/h))

form_cal(180)

24

In [23]:

#Q10: 2D Array Generation

def two_d_array(n,m):
    list1=[]
    for i in range(0,n):
        temp_lst=[]  
        list1.append(temp_lst)
        for j in range(0,m):
            temp_lst.append(i*j)
    return list1
two_d_array(3,5)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [42]:
#Q11: Alphabetical Word Sorting

def alpha_sort(str1):
    mt_lst=[]
    for i in str1.split(','):
        mt_lst.append(i)
    return sorted(mt_lst)
alpha_sort(input('enter your comma-seprated words'))

enter your comma-seprated numbers wumpus,world,arrogant,awesome,aggressive

['aggressive', 'arrogant', 'awesome', 'world', 'wumpus']

In [49]:
#Q12: Capitalizing Input Lines

def cap_input(str1):
    
    for i in str1.split('\n'):
        s=i.upper()
    return s
cap_input(input('enter your comma-seprated words'))

enter your comma-seprated words Hello world Practice makes perfect

'HELLO WORLD PRACTICE MAKES PERFECT'

In [7]:
#Q13: Removing Duplicates and Sorting Words

def fun1(str1):
    lst=[]
    for i in str1.split(' '):
        if i not in lst:
            lst.append(i)
        else:
            pass
    return sorted(lst)
    

fun1(input('enter your space-seprated words:'))

enter your space-seprated words: king fiona orange awful

['awful', 'fiona', 'king', 'orange']

In [53]:
#Q14: Binary Divisibility Check

def binary_div_chk(num1):
    sum=''
    a=0
    
    while num1>0:
        
        sum+=str(num1%2)
        num1=num1//2
    return int(sum[::-1]) 

def bin_chk(lst1):
    new_lst=[]
    for i in lst1:
        if i%5==0:
            print(binary_div_chk(i),end=',')
        
bin_chk([4,5,6,7,8,9,10])

101,1010,

In [53]:
#Q15: All Even Digits Filter

def even_digit_numbers():
    result = []
    for num in range(1000, 3001):   # inclusive of 3000
        s = str(num)
        if all(int(ch) % 2 == 0 for ch in s):
            result.append(s)
    print(",".join(result))

even_digit_numbers()

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [69]:
#Q16: Counting Letters and Digits
import re 
def cnt_wrds_dig(sent):
    let_cnt=re.findall('[A-Za-z]',sent)
    dig_cnt =re.findall('[1-9]',sent)
    
    return f'the count of letters in sentence: {len(let_cnt)} and count of digits in sentence: {len(dig_cnt)}'

cnt_wrds_dig('hello world!!! 123')

'the count of letters in sentence: 10 and count of digits in sentence: 3'

In [74]:
#Q17: Counting Upper and Lower Case Letters
import re
def cnt_up_lo(sent):
    lo_cnt=re.findall('[a-z]',sent)
    up_cnt=re.findall('[A-Z]',sent)
    return f'the count of UPPER letters in sentence: {len(up_cnt)} and count of LOWER letters in sentence: {len(lo_cnt)}'
cnt_up_lo("Hello World")

'the count of UPPER letters in sentence: 2 and count of LOWER letters in sentence: 8'

In [15]:
#Q18: Sum of Repeated Digits

def rep_digs(n):
    sum=''
    prod=[]
    for i in range(0,4):
        sum+=str(n)
        prod.append(int(sum))
    new_sum=0
    for i in prod:
        new_sum+=i
    print(new_sum)

rep_digs(9)

11106

In [21]:
#Q19: List Comprehension for Odd Squares

def sqr_lst(lst1):
    new_lst = [i**2 for i in lst1  if(i%2==1) ]
    return new_lst

sqr_lst([1,2,3,4,5,6,7,8,9])

[1, 9, 25, 49, 81]

In [72]:
#Q20: Bank Account Transaction Log

def bank():
    sum=0
    while True:
        a = input().lower()

        if a.strip() == '':
            
            break
        i = a.split(' ')
        action=i[0]
        amt = i[1]
        if action=='w':
            if int(amt)>sum:
                sum=0
                print('paise khtm!!')
            else:
                sum-=int(amt)
                print(sum)
        elif action=="d":
            sum+=int(amt)
            print(sum)
        else:
            print('no action')
bank()

 W 100

paise khtm!!

 D 300

300

 D 400

700

 W 700

0

 W 200

paise khtm!!

 D 500

500

In [79]:
#Q21: Class for Nationality


class American:
    @staticmethod
    def printNationality():
        return 'America'

American.printNationality()

'America'

In [86]:
#Q22: Inheritance (American and NewYorker)

class American:
    def __init__(self):
        pass

class NewYorker(American):
    def __init__(self):
        pass

am = American()
ny = NewYorker()
print(am)
print(ny)

<__main__.American object at 0x000001A433EC1510>
<__main__.NewYorker object at 0x000001A433EA7450>

In [91]:
#Q23: Class for Circle Area

class Circle:
    def __init__(self,rad):
        self.rad=rad
        self.pi=3.14
    def area(self):
        return self.pi*(self.rad**2)

c = Circle(2)
c.area()

12.56

In [100]:
#Q24: Class for Rectangle Area

class Rectangle:
    def __init__(self,l,b):
        self.l=l
        self.b=b
    def area(self):
        return round(self.l*self.b,2)

r = Rectangle(20.3223,33.12325)
r.area()

673.14

In [110]:
#Q25: Polymorphism with Area

class Shape:
    def __init__(self,length):
        self.l=length
    def area(self):
        return 0

class Square(Shape):
    def __init__(self,sides):
        super().__init__(sides)
    def area(self):
        return self.l**2

s = Shape(2)
sqr = Square(4)
print(sqr.area())
print(s.area())

16
0

In [113]:
#Q71: Filter Even Numbers (filter function)
lst = [1,2,3,4,5,6,7,8,9,10]
def filterr(n):
    return n%2==0

res = list(filter(filterr,lst))
print(res)

[2, 4, 6, 8, 10]

In [116]:
#Q72: Square Elements (map function)

def sqr_mapping(n):
    return n**2
lst = [1,2,3,4,5,6,7,8,9,10]
res = list(map(sqr_mapping,lst))
res

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [118]:
#Q73: Map and Filter: Even Squares
nums = [1,2,3,4,5,6,7,8,9,10]
evens = list(filter(lambda x: x % 2 == 0, nums))
squares = list(map(lambda x: x**2, evens))
print(evens)
print(squares)

[2, 4, 6, 8, 10]
[4, 16, 36, 64, 100]

In [120]:
#Q74: Filter Even Numbers in Range

res = list(filter(lambda x:x%2==0,range(1,21)))
res

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [121]:
#Q75: Map Squares in Range

res = list(map(lambda x:x**2,range(1,21)))
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]